.sidebarContainer {
    display: flex;
    align-items: flex-start;

    gap: 1rem;
    padding: 1rem;

    font-size: 1.2rem;
}

.sidebarContainer > li > a {
    color: white;
}

.selected {
    font-weight: bold;
    text-decoration: underline;
}