.postDetailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.originalPost {
    display: flex;
    flex-direction: column;
    align-items: center;
}